
/* The line highlight for a parsing error */

.errorMarker {
    background: rgba(255, 50, 50, 0.4);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}

.code-box {
    border: 2px solid #888;
    height: 620px;
}

.conversion-box {
    height: 1350px;
}

.vbcode {
    width: 1200px;
    height: 600px;
}
.pycode {
    width: 1200px;
    height: 600px;
}

.code-header {
    background-color: #3fb921;
    vertical-align: middle;
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.error-header {
    background-color: #b97127;
    vertical-align: middle;
    text-align: left;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 20px;
    display: none;
}

.file-input {
    height: 100px;
}

.version {
    padding-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: rgba(139, 59, 25, 0.58);
}