
/* The line highlight for a parsing error */

.errorMarker {
    background: rgba(255, 50, 50, 0.4);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}

.code-box {
    border: 2px solid #888;
    margin: 2em auto;
    height: 800px;
}

.conversion-box {
    height: 1350px;
}

.vbcode {
    width: 1200px;
    height: 800px;
}
.pycode {
    width: 1200px;
    height: 800px;
}

.code-header {
    background-color: #3fb921;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-weight: bold;
}